{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% from "./includes/_macros.html" import show_sidebar%}
{% import "bootstrap/wtf.html" as wtf %}

{% block head%}
{{super()}}
<style type="text/css" media="screen">
  .pointer{ cursor:pointer; }
</style>
<script type="text/javascript" charset="utf-8">
  function insert(con){
    var t = document.getElementById('reply_text').value;
    t = t + con;
    document.getElementById('reply_text').value=t
  }
function moveEnd(obj){
  obj.focus();
  var len = obj.value.length;
  if(document.selection){
    var sel = obj.createTextRange();
    sel.moveStart('character',len);
    sel.collapse();
    sel.select();
  }else if(typeof obj.selectionStart=="number" && typeof obj.selectionEnd=='number'){
    obj.selectionStart = obj.selectionEnd = len;
  }
}
</script>

{% endblock %}

{% block page_content%}

<div class="container" >
  {% for message in get_flashed_messages() %}
  <div class="alert-info">{{ message }}</div>
  {% endfor %}
</div>

<!-- 显示文章 -->
<div class="container" style = "padding:10px">
  <div class="row">
    <div class="col-md-12">
      <div class="share mrl the-font">
        <div style="padding:0px;"> <!-- <div style="padding:10px;"> -->
            <div style="border-bottom:0px solid #DAD4D4;padding:10px 10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;">

              <!-- <div class="col-md-12"> -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="share mrl the-font">
                        <h2 style="float:left"><a href="{{ url_for('main.post', id=post.id) }}">{{post.title}}</a> </h2>
                        <!-- <h5 style = "float:right"><span class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp</span>QR OF THIS PAGE -->
                          <h5 style = "float:right">
<script type="text/javascript">/* 2017/03/18 15:21 */var _qrContent='',_qrLogo='',_qrWidth=100,_qrHeight=100,_qrType = 'auto';if(!_qrContent) var _qrContent =escape(document.location.href);document.write(unescape("%3Cscript src='http://qrcode.leipi.org/js.html?qw="+_qrWidth+"&qh="+_qrHeight+"&qt="+_qrType+"&qc="+escape(_qrContent)+"&ql="+escape(_qrLogo)+"' type='text/javascript'%3E%3C/script%3E"));</script>
                          </h5>
                      </div>
                    </div>
                  </div>

              <div class="col-md-12">
                <div class="profile-thumbnail">
                  <div class = "post-author">
                    <small><span class="glyphicon glyphicon-user" aria-hedden="true"></span>
                      <a href="{{url_for('.user', name=post.author.name) }}"> {{ post.author.name }}</a>
                    </small>
                    &nbsp &nbsp

                    <span class="glyphicon glyphicon-comment" aria-hidden="true"> </span> {{comment_count}} </button></a>
                &nbsp &nbsp

                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span> {{post.read_count}} </button></a>
            &nbsp &nbsp

            <small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
              {{ moment(post.create_time).format('YYYY.M.D-HH:mm:ss') }}
            </small>
          </div>
        </div>


        <hr />
        <div class="col-md-12">
          <p>{{post.body_html|safe}}</p>
        </div>
      </div>

      <hr />

      <!-- tag & readmore -->
      <!-- 显示标签,点击标签显示该标签下的文章 -->
      <p> {% for category in post.categorys %}
        <a href="{{ url_for('main.category', name = category.name) }}">
          <span class="label label-primary text-left"> <span class="glyphicon glyphicon-tag" aria-hidden="true">
        </span> {{category.name|upper}}</span></a>
        {% endfor %}

        <a href="{{ url_for('main.post', id=post.id-1) }}" style="float:right">
          <button class="btn  btn-sm btn-default btn-text-right">
            <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span> Next </button></a>



        {% if current_user.is_administrator() %}
        <a href="{{ url_for('main.deletepost', id=post.id) }}" style="float:right">
          <button class="btn  btn-sm btn-default btn-text-right">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Delete </button></a>

        <a href="{{ url_for('main.edit', id=post.id) }}" style="float:right">
          <button class="btn  btn-sm btn-default btn-text-right">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span> Edit </button></a>
        {% endif %}
      </p>

      <!-- JiaThis Button BEGIN -->
      <script type="text/javascript">
        var jiathis_config = {data_track_clickback:'true'};
      </script>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r3.gif&amp;uid=2119080" charset="utf-8"></script>
      <!-- JiaThis Button END -->

      <!-- UJian Button BEGIN -->
      <script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide"></script>
      <!-- UJian Button END -->

    </div>
  </div>
</div>
  </div>


  <form action ="" method="POST" class="form" role="form">
    {{form.hidden_tag()}}
    <div class="form-group" required >
      <div class = "raw">
        <div class="col-md-12">
          <div style="padding-top:40px;">
            <div style="border-bottom:2px solid #DAD4D4;padding:10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;">
              <label class="control-label" for="title">{{ form.body.label}}:</label><br /><!-- 要指定这个name才行 -->
              <textarea only_input=True, rows=8 class= "form-control" placeholder="支持 markdown 格式评论" id="reply_text" name="body" type = "text" name="comment"> </textarea>
              <p>
                <div class="form-group">
                  {{ form.submit(class="btn btn-primary") }}
                </div>
              </p>
            </div>
            <div class="col-md-6">
              {{ form.body(only_preview=True) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>


<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-md-11"> -->
      <!-- <div class="share mrl the-font"> -->
        <!-- <div style="padding:10px;"> -->
          <!-- <div style="border-bottom:2px solid #DAD4D4;padding:10px 10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;"> -->
            <!-- { { wtf.quick_form(form)}} -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- <div class="col-md-6"> -->
        <!-- { { form.body(only_preview=True) }} -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->


<div class="container" style = "padding:10px">
  <div class="row">
    <div class="col-md-12">
      {% for comment in post.comments | sort(attribute='create_time', reverse=True) %}
      <div class="share mrl the-font">
        <div style="padding-top:10px;">
          <div style="border-bottom:2px solid #DAD4D4;padding:10px 10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;">
            <div class="profile-thumbnail">
              <div class = "post-author">

                <small><span class="glyphicon glyphicon-user" aria-hedden="true"></span>
                  <a href="{{url_for('.user', name=comment.author.name) }}"> {{ comment.author.name }}</a>
                </small>
                &nbsp &nbsp
                <small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ moment(comment.create_time).format('YYYY.M.D-HH:mm:ss') }} </small>
                &nbsp &nbsp
                <small><span class="pointer glyphicon glyphicon-comment" onclick="insert('@{{comment.author.name}}  \n'), moveEnd(reply_text)" aria-hedden="true"> Reply</span></small>
                &nbsp &nbsp

                {% if current_user.is_administrator() %}
                <a href="{{ url_for('main.comment_delete', id=comment.id) }}" style="float:right">
                  <button class="btn  btn-sm btn-default btn-text-right">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Delete </button></a>
                {% endif %}

                <div style="padding:10px;">
                  <!-- <p>{ { comment.body|safe}}</p> -->
                  <p>{{ comment.body_html|safe}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- 分页导航栏 -->
      <div class="container-fluid">
        {% if pagination %}
        {{ render_pagination(pagination) }}
        {% endif %}
      </div>
    </div>


    {% endblock	%}

    {% block scripts %}
    {{ super() }}
    <!-- 预览markdown -->
    {{ pagedown.include_pagedown() }}
    {% endblock %}
