{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content%}
  <div class="container">
    <!-- Meta信息 -->
    <div>
      <h1>{{ post.title | safe }}</h1>
    </div>
    作者:<h4>{{post.author.name}}</h4> 发表日期:<h4>{{post.create_time}}</h4>
    <!-- 正文 -->
    <div>
      {{ post.body_html | safe }}
    </div>

    <h3>评论</h3>
    <!-- 操作链接 -->
    <!-- 发表评论 -->
      <div>
        {{ wtf.quick_form(form) }}
      </div>
    <!-- 评论列表 -->
    {% for comment in post.comments | sort(attribute='create_time', reverse=True) %}
      <div class = "media">
        <div class="media-body">
          <h3>{{ comment.author.name}}</h3>
          {{ comment.body|safe }}
          {{ comment.create_time|safe}}
        </div>
    </div>
    {% endfor %}
{% endblock %}
