{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head%}
{{super()}}
<!-- bootstrap-tagsinput --> <!-- FIXME -->
<!-- http://www.jqueryscript.net/demo/Nice-Tags-Manager-Plugin-with-jQuery-Bootstrap-Bootstrap-Tags-Input/examples/ -->
<!-- http://jquery-plugins.net/tokenfield-jquery-tag-token-plugin-for-bootstrap -->
{% endblock %}

{% block page_content %}
{{super()}}

<form action ="" method="POST" class="form" role="form">
  <!-- form.csrf_token()也行,否则validation_on_submit会验证失败 -->
  {{ form.hidden_tag() }}
  <div class="form-group" required>
    <div class = "raw">
      <div class="col-md-4">
        <label class="control-label" for="title">{{ form.title.label}}</label>
        {{ form.title(class="form-control", placeholder=("输入文章标题"))}}
      </div>
    </div>
  </div>


	<!-- [> 原来 <] -->
  <div class="form-group" required>
    <div class = "raw">
      <div class="col-md-4">
        <label class="control-label" for="title">{{ form.category.label}}</label>
        {{form.category(id="category", class="form-control", placeholder="输入分类,用逗号分隔")}}
      </div>
    </div>
  </div>


<!-- 下拉选择,这样就只能选一个标签了 -->
<!-- FIXME -->
  <!-- <form method="post" class="form" role="form"> -->
    <!-- <form action ="" method="POST" class="form" role="form"> -->
      <!-- {{ form.hidden_tag() }} -->
      <!-- <div class="col-md-2"> -->
        <!-- <div class="form-group "> -->
          <!-- <div class="raw"> -->
            <!-- <label class="control-label" for="category">{{ form.category.label}}</label> -->
            <!-- <select class="form-control" id="category" name="category" > -->
              <!-- {% for choice in form.category.choices %} -->
                <!-- <option value={{choice[1]}}> {{choice[1]}} </option> -->
              <!-- {% endfor %} -->
            <!-- </select> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->


    <div class="container">
      <div class="form-group">
        <div class = "row">
          <div class="col-md-6">
            <!-- <label class="control-label" for="category">{{ form.body.label}}</label> -->
            {{ form.body(only_input=True,rows=20,class="form-control",placeholder="输入markdown格式文章") }}
            <p>
              <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </p>
          </div>
          <div class="col-md-6">
            {{ form.body(only_preview=True) }}
          </div>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}

  {% block scripts %}
  {{ super() }}
  <!-- 预览markdown -->
  {{ pagedown.include_pagedown() }}
  {% endblock %}
