<!-- 固定导航栏 -->
{% block navbar %}
{{nav.top.render() }}
{% endblock %}

<!-- XXX 以上使用 flask-nav 做的导航栏，以下是手撸的一个导航栏；区别在于手撸的可以把部分入口放在导航栏右边 -->

<!-- <nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed"
        data-target="#7bc75dbef69e41ff2452de70079c8ece1320ea7c" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span> <a class="navbar-brand" href="{ {url_for('main.home') }}"> M-Kepler</a> </span>
    </div>
    <div class="navbar-collapse collapse" id="7bc75dbef69e41ff2452de70079c8ece1320ea7c">
      <ul class="nav navbar-nav">
        <li {% if url_for('main.home') is current_link %}class="active" {% endif %}>
          <a href="{ {url_for('main.home') }}" title="{ {(" HOME") }}">{ {("HOME") }}</a>
        </li>
        <li {% if url_for('main.archive_view') is current_link %}class="active" {% endif %}>
          <a href="{ {url_for('main.archive_view') }}" title="{ {(" ARCHIVE") }}">{ {("ARCHIVE") }}</a>
        </li>
        <li {% if url_for('main.about_view') is current_link %}class="active" {% endif %}>
          <a href="{ {url_for('main.about_view') }}" title="{ {(" ABOUT") }}">{ {("ABOUT") }}</a>
        </li>

        {% if current_user.is_administrator() %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            MANAGE
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/edit">New Article</a></li>
            <li class="divider"></li>
            <li><a href="#">Article Manage</a></li>
            <li class="divider"></li>
            <li><a href="#">Categories Manage</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a href="{ {url_for('main.user_view',name=current_user.name) }}">{ {current_user.name }}</a></li>
        <li><a href="{ {url_for('auth.signout') }}">{ {("Exit") }}</a></li>
        {% else %}
        <li><a href="{ {url_for('auth.signin') }}">{ {("Sign in") }}</a></li>
        <li><a href="{ {url_for('auth.signup') }}">{ {("Sign up") }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav> -->