{% macro carousel()%} [> 轮播 <]
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <!-- 包装的轮播图片-->
  <div class="carousel-inner" role="listbox">

    <!--图片-->
    <div class="item active" style = "width = 677px">
      <img src="../../static/img/carousel/01.png" alt="风景1">
      <div class="carousel-caption">
        <!--h4中的内容显示到图片上面，-->
        <h4>真正的才智是刚毅的志向。 —— 拿破仑</h4>
      </div>
    </div>

    <div class="item" style = "width:677px">
      <img src="../../static/img/carousel/02.jpg" alt="风景2">
      <div class="carousel-caption">
        <h4>志向不过是记忆的奴隶，生气勃勃地降生，但却很难成长。 —— 莎士比亚</h4>
      </div>
    </div>

    <div class="item" style = "width:677px">
      <img src="../../static/img/carousel/03.jpg" alt="风景3">
      <div class="carousel-caption">
        <h4>志向和热爱是伟大行为的双翼。 —— 歌德</h4>
      </div>
    </div>

    <!-- <div class="item" style = "width:677px"> -->
      <!-- <img src="../../static/img/11111.jpg" alt="风景4"> -->
      <!-- <div class="carousel-caption"> -->
        <!-- <h4>生活有度，人生添寿。 —— 书摘</h4> -->
        <!-- </div> -->
      <!-- </div> -->

  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endmacro %}


{% macro show_posts(posts, categorys, pagination, moment) %}
{% from "bootstrap/pagination.html" import render_pagination %}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      {% for post in posts | sort(attribute='create_time', reverse=True) %}
      <div class="share mrl the-font">
        <div style="padding:10px 0px;"> <!-- <div style="padding:10px ;"> -->
            <div style="border-bottom:0px solid #DAD4D4;padding:10px 10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;">
              <div>
                <h2><a href="{{ url_for('main.post', id=post.id) }}">{{post.title}}</a></h2>
              </div>

              <!-- author.name & post.create_time -->
              <div class="profile-thumbnail">
                <div class = "post-author">
                  <small><span class="glyphicon glyphicon-user" aria-hedden="true"></span>
                    <a href="{{url_for('.user', name=post.author.name) }}"> {{ post.author.name }}</a>
                  </small>
                  &nbsp &nbsp
                  <small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <!-- {{ post.create_time }} -->
                    {{ moment(post.create_time).fromNow(refresh=True) }}
                  </small>
                  &nbsp &nbsp &nbsp
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"> </span> &nbsp{{post.comments|count}} </button></a>

              {% if post.private%}
              &nbsp &nbsp &nbsp
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"> </span>
              {% else %}
              &nbsp &nbsp &nbsp
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span> &nbsp{{post.read_count}} </button></a>
          {% endif %}

        </div>

      </div>
      <hr />
      <!-- tag & readmore -->
      <div>
        {% if post.private  %}
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> Personal Article</span>
        {% elif not post.private %}
        <p>{{post.body_html|safe|truncate(300,True)}}</p>
        {% endif %}

      </div>
      <hr />

      <p> {% for category in post.categorys %}
        <!-- <a href="{{ url_for('main.category', name = post.categorys.name) }}"> -->
          <a href="{{ url_for('main.category', name = category.name) }}">
            <span class="label label-primary text-left"> <span class="glyphicon glyphicon-tag" aria-hidden="true">
          </span> {{category.name|upper}}</span></a>
          {% endfor %}

          {% if current_user.is_administrator() %}
          <a href="{{ url_for('main.deletepost', id=post.id) }}" style="float:right">
            <button class="btn  btn-sm btn-default btn-text-right">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Delete </button></a>

          <a href="{{ url_for('main.edit', id=post.id) }}" style="float:right">
            <button class="btn  btn-sm btn-default btn-text-right">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span> Edit </button></a>
          {% endif %}

          <a href="{{ url_for('main.post', id=post.id) }}" style="float:right">
            <button class="btn  btn-sm btn-primary btn-text-right"> <span class="glyphicon glyphicon-share-alt" aria-hidden="true">
          </span>Read More</button></a>
        </p>
      </p>
    </div>
  </div>
</div>
{% endfor %}
<!-- 分页导航栏 -->
<div class="container-fluid">
  {% if pagination %}
  {{ render_pagination(pagination) }}
  {% endif %}
</div>
</div>
{% endmacro%}

{% macro show_sidebar(posts, categorys) %}

<!-- sidebar右侧栏 -->
<div class="col-md-3">
  <!-- social && picture -->
  <div class="tile" style="margin-top:10px; box-shadow:5px 5px 20px #CCC;background-color:#FFF">
    <div style="border:5px solid #FFF;border-radius:300px;width:128px;height:128px;margin:0px auto;position:relative;bakeground:#88ACDB none repeat scroll 0% 0%;overflow:hidden">
      <img src="{{ url_for('static',filename='img/1.jpg') }}" style="width:100%;height:100%">
    </div>
    <div class= "list-group-item text-center" style = "font-size:23px;">
      <a href = "https://github.com/M-Kepler" target = "_blank" title = "GitHub"><i class= "fa fa-github" aria-hidden = "true"></i></a>
      &nbsp
      <a href = "#" title = "Blog"> <i class= "fa fa-link" aria-hidden = "true"></i></a>
      &nbsp
      <a href="mailto:m_kepler@foxmail.com?cc=m_kepler@foxmail.com&bbc=m_kepler@foxmail.com&body=来自Kepler博客的邮件" title="mail">
        <i class= "fa fa-envelope" aria-hidden = "true"></i></a>
      &nbsp
      <a href = "https://weibo.com/MeKepler/profile" target = "_blank" title = "Weibo"><i class= "fa fa-weibo" aria-hidden = "true"></i></a>
    </div>
  </div>


  <div class="share mrl the-font" style="margin-top:10px; background-color:#FFF;box-shadow:5px 5px 20px #CCC;width:260px;">
    <div style="padding:10px;">
      <div style="border-bottom:1px solid #DAD4D4;;padding:10px 10px;">
        <h5><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp</span>CATEGORY</h5>
      </div>
      <ul>
        {% for category in categorys %}
        <li class="presentation" style="padding-top:0px;">
          <a href="{{ url_for('main.category', name=category.name ) }}" >
            <p><span style="font-size:14px;background-color:#FFF" class="glyphicon glyphicon-tags" aria-hidden="true"> {{ category.name|upper }}</span>
              <span class="badge text-right" style="float:right"> {{ category.posts.all()|count}}</span>
            </p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="share mrl the-font" style="margin-top:10px; background-color:#FFF;box-shadow:5px 5px 20px #CCC;width:260px;">
    <div style="padding:10px;">
      <div style="border-bottom:1px solid #DAD4D4;;padding:10px 10px;">
        <h5><span class="glyphicon glyphicon-fire" aria-hidden="true">&nbsp</span>HOT</h5>
      </div>
      <ul>
        {% for article in posts[:10] | sort(attribute='read_count',reverse=True)%}
        <li class="presentation" style="padding-top:0px;">
          <a href="{{ url_for('main.post', id = article.id) }}" >
            <p><span style="font-size:14px;background-color:#FFF" class="glyphicon glyphicon-#" aria-hidden="true">
                {{ article.title|upper|truncate(18,True)}}</span>
              <span class="badge text-right" style="float:right"> {{ article.read_count}}</span>
            </p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>


  <div class="share mrl the-font" style="margin-top:10px; background-color:#FFF;box-shadow:5px 5px 20px #CCC;width:260px;">
    <div style="padding:10px;">
      <div style="border-bottom:1px solid #DAD4D4;;padding:10px 10px;">
        <h5><span class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp</span>QR OF THIS PAGE</h5>

<script type="text/javascript">/* 2017/03/18 15:21 */var _qrContent='',_qrLogo='',_qrWidth=200,_qrHeight=200,_qrType = 'auto';if(!_qrContent) var _qrContent =escape(document.location.href);document.write(unescape("%3Cscript src='http://qrcode.leipi.org/js.html?qw="+_qrWidth+"&qh="+_qrHeight+"&qt="+_qrType+"&qc="+escape(_qrContent)+"&ql="+escape(_qrLogo)+"' type='text/javascript'%3E%3C/script%3E"));</script>

<!-- strwrite = "<img src='https://chart.googleapis.com/chart?cht=qr&chs=150x150&choe=UTF-8&chld=L|4&chl="  + -->
  <!-- thisURL + "' width='100' height='100' alt='网址URL 二维码生成' />"; -->

        <!-- <script>// <![CDATA[ -->
          <!-- thisURL = document.URL; -->
          <!-- strwrite = "<img src='http://qr.topscan.com/api.php?text = " + -->
            <!-- thisURL + "&w=200&m=10/>"; -->
            <!-- document.write( strwrite ); // ]]> -->
          <!-- </script> -->
    </div>
  </div>
</div>




</div>


{% endmacro%}

