<!-- 固定导航栏 -->
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> [> 固定导航栏  <] -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-controls="navbar"
          aria-expanded="false"
          class="navbar-toggle collapsed"
          data-target="#7bc75dbef69e41ff2452de70079c8ece1320ea7c"
          data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span> <a class="navbar-brand" href="{{url_for('main.index')}}"> M-Kepler</a> </span>
      </div>
      <div class="navbar-collapse collapse"
        id="7bc75dbef69e41ff2452de70079c8ece1320ea7c">
        <ul class="nav navbar-nav">
          <li {% if url_for('main.index') is current_link %}class="active"{% endif %}>
            <a href="{{ url_for('main.index') }}" title="{{ ("HOME") }}">{{ ("HOME") }}</a>
          </li>
          <!-- 根据日期group_by -->
          <li {% if url_for('main.archive') is current_link %}class="active"{% endif %}>
            <a href="{{ url_for('main.archive') }}" title="{{ ("ARCHIVE") }}">{{ ("ARCHIVE") }}</a>
          </li>
          <li {% if url_for('main.about') is current_link %}class="active"{% endif %}>
            <a href="{{ url_for('main.about') }}" title="{{ ("ABOUT") }}">{{ ("ABOUT") }}</a>
          </li>

          {% if current_user.is_administrator() %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              管理
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/edit">添加新文章</a></li>
              <li class="divider"></li>
              <li><a href="#">文章管理</a></li>
              <li class="divider"></li>
              <li><a href="#">分类管理</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li>
            <!-- 全文搜索用google/baidu啊 -->
            <form onsubmit = "return dispatch()" class="navbar-form"  style="margin-top:10px; ">
              <div class= "form-group has-feedback">
                {{g.search_form.search(class="form-control input-sm", placeholder=("SEARCH HERE"))}}
                <i class="icon-search form-control-feedback"></i>
              </div>
            </form>

          </li>

          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.user',name=current_user.name)}}">{{ current_user.name }}</a></li>
          <li><a href="{{ url_for('auth.signout') }}">{{ ("退出") }}</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.signin') }}">{{ ("登录") }}</a></li>
          <li><a href="{{ url_for('auth.signup') }}">{{ ("注册") }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
