{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <div style="border-bottom:0px solid #DAD4D4;padding:10px 10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;">
    <h1 style = "text-align:center">M-Kepler's Blog</h1>
    <hr />
    · I AM GRADUATE FROM GUET,GUILIN,GUANGXI,CHINA.<br /><br />
    · THIS BLOG'S SOURCE CODE CAN BE SEEN IN MY <a href = "https://github.com/M-Kepler/keplerblog">GITHUB.</a><br /><br />
    · MY CONTACT INFORMATION IS ALREADY LISTED ON SIDEBAR OF THE <a href = "/">FRONT PAGE.</a><br /><br />
  </div>
</div>
{% endblock %}

