{% extends "base.html" %}
{% block title %}Archive{% endblock %}
{% block page_content %}
<div class="page-header">
  {% for post in posts | sort(attribute='create_time', reverse=True) %}
  <li>
    <div class="tile" style="margin-top:20px;box-shadow:5px 5px 20px #CCC;background-color:#FFF">
      <div style="padding:10px;">
        <small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> </small>
        {{ post.create_time}}
        <div>
          <h3><a href="{{ url_for('main.post', id=post.id) }}">{{post.title}}</a></h3>
        </div>
      </div>
    </li>
    {% endfor %}
  </div>
  {% endblock %}
