{% extends "base.html" %}
{% block title %}Archive{% endblock %}
{% block page_content %}

{% for post in posts %}
<div style="border-bottom:2px solid #DAD4D4;padding:10px 10px;background-color:#FFF; box-shadow:5px 5px 20px #CCC;width:800px;">
  <h3>月份: {{post[0]}} 文章数: {{post[1]|count}}</h3>
  {% for p in post[1] | sort(attribute='create_time', reverse=True) %}
  <h4><a href="{{ url_for('main.post', id=p.id) }}"> {{p.title}}</a>
  </h4>
  {{p.author.name}} | {{ moment(p.create_time).format('YYYY年M月D日-HH:mm:ss') }}
  {% endfor %}
</div>
{%endfor%}

{% endblock %}
