{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% from "./includes/_macros.html" import show_posts, show_sidebar with context %}


{% block page_content %}
<!-- 显示标签下的文章 -->
{{ show_posts (posts, categorys, pagination, moment ) }}
{{ show_sidebar(posts, categorys) }}
  <!-- 分页 -->
  <!-- <div class="container-fluid"> -->
    <!-- { % if pagination %} -->
    <!-- { { render_pagination(pagination) }} -->
    <!-- { % endif %} -->
  <!-- </div> -->

{% endblock %}

