{% extends "base.html" %}
{% block title %}M_Kepler-ErrorPage{% endblock %}

{% block page_content %}


<div class="container">
  <div style="border-bottom:0px solid #DAD4D4;padding:10px 10px;background-color:#FFF;box-shadow:5px 5px 20px #CCC;">
    {% for message in get_flashed_messages() %}
    <div class="alert-info">{{ message }}</div>
    {% endfor %}
    {% if code == 404 %}
    <h1>404 NOT FOUND</h1>
    {% elif code == 500 %}
    <h1>500 Internal Server Error</h1>
    {% endif %}
  </div>
</div>
{% endblock %}
