{% extends "base.html" %}
<!-- bootstrap支持的分页,只要将sqlalchemy的分页查询到底传入就可以啦 -->
{% from "bootstrap/pagination.html" import render_pagination %}
{% from "./includes/_macros.html" import show_posts %}
{% from "./includes/_macros.html" import show_sidebar%}

{% block title %}{{title}}{% endblock %}
{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert-info">{{ message }}</div>
{% endfor %}

<!-- jinja2是默认转义的,加上safe过滤器表示不转义 -->
<!-- { { artical|safe }} -->
<!-- 优化结构之后读取文件就一直出错了，晕死 -->
<!-- (( read_md('vim_end.md')|md|safe }} safe 不转义-->



<!-- <div class="container"> -->
  <!-- <a href="{ { url_for('main.edit') }}" class ="btn btn-primary">添加新文章</a> -->
  <!-- </div> -->

<!-- 显示文章 -->

{{ show_posts(posts, categorys, pagination, moment) }}
<!-- sidebar右侧栏 -->
{{ show_sidebar(posts, categorys) }}

<!-- 分页 -->

<!-- <div class="container-fluid"> -->
  <!-- { % if pagination %} -->
  <!-- { { render_pagination(pagination) }} -->
  <!-- { % endif %} -->
<!-- </div> -->

{% endblock %}


{% block footer %}
{{super()}}
{% endblock %}
