{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>{{ user.name }}</h1>
  <p>
    <a href="mailto:{{user.email}}?cc=m_kepler@foxmail.com&bbc=m_kepler@foxmail.com&body=来自Kepler博客的邮件">{{ user.email }}</a>
  </p>

  {% if user.about_me %}
  <textarea name="about_me" rows="10" cols="50">
    {{ user.about_me }}
  </textarea>
  {% endif %}

  <p>
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    Member since: &nbsp&nbsp {{ moment(user.register_time).format('YYYY-MM-DD HH:mm:ss') }}.
    <br>
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    Last seen:&nbsp&nbsp {{ moment(user.last_seen).format('YYYY-MM-DD HH:mm:ss') }}.
  </p>
  <p>
    {% if user == current_user %}
    <a class = "btn btn-default" href = "{{url_for('.edit_profile') }}">
      编辑资料
    </a>
    {% endif %}
  </p>
</div>
{% endblock %}
