{% extends "base.html" %}
{% block title %}M_Kepler{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>{{ current_user.name }}</h1>
  {% if current_user.is_authenticated %}
  <p>
    <a href="mail to:{{current_user.email}}">{{ current_user.email }}</a>
  </p>
  {% endif %}
  {% if current_user.about_me %}
  <p>{{ current_user.about_me }}</p>
  {% endif %}
  <p>
    Member since {{ current_user.register_time }}.
    <br>
    Last seen {{ current_user.last_seen }}.
  </p>
  <p>
    {% if user == current_user %}
    <a class = "btn btn-default" href = "{{url_for('.edit_profile') }}">
      编辑资料
    </a>
    {% endif %}
  </p>
</div>
{% endblock %}
